HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/

src/main/resources/application-dev.properties
src/main/resources/application-prod.properties

src/main/java/com/rentalapp/houserentalapp/service/impl/GoogleDriveImageUpload.java
src/main/java/com/rentalapp/houserentalapp/service/impl/GoogleDriveService.java

*.sql

.env
cred.json
cred_personal.json
oauth_cred.json

hs_err_pid10480.log